<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marvel Rivals - Batalha</title>
  <link rel="stylesheet" href="/static/styles/batalha.css">
  <link rel="shortcut icon" href="/static/assets/favicon-32x32.png" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>
<body>

  <!-- ========================================== -->
  <!-- Logo Central -->
  <div class="logo-central">
    <img src="/static/assets/imagemmeio.png" alt="Marvel Rivals">
  </div>

  <!-- ========================================== -->
  <!-- Campo de Batalha -->
  <div class="campo-batalha">
    <div id="campo-jogador" class="zona"><img src="/static/assets/arraste-a-carta-aqui.png" alt=""></div>
    <div id="campo-inimigo" class="zona"><img src="/static/assets/arraste-a-carta-aqui(2).png" alt=""></div>
  </div>

  <!-- ========================================== -->
  <!-- Mão do Jogador e do Inimigo -->
  <div class="mao-inimigo" id="mao-inimigo"></div>
  <div class="mao-jogador" id="mao-jogador"></div>

  <!-- ========================================== -->

  <script src="/static/script/batalha.js"></script>
</body>
</html>